export(amp_core)
export(amp_correlation)
export(amp_heatmap)
export(amp_ordinate)
export(amp_rabund)
export(amp_test)
import(data.table)
import(ggplot2)
import(grid)
import(igraph)
import(phyloseq)
import(plyr)
import(reshape2)
import(vegan)
